a{
    cursor: pointer;
}
li{
    list-style-type: none;
    display: inline;
    padding-right: 100px;
    float: left;
    height: 44px;
}
li a.logo{
    color: blue;
    font-size: 30px;
}
li a{
    text-decoration: none;
    color: #5b6260;
}
li a:hover{
    color: black;
}
nav{
    height: 80px;
    margin-bottom :20px ;
}
.topnav{
    transform: translate(0,20px);
}
form{
    display: inline-block;
}
nav img{
    padding-left:100px;
}
.dropdown-content{
    display: none;
}
.dropdown:hover  .dropdown-content{
    display:block;
}
.xiala{
    border:1px solid #333;
    display: block;
    height: auto;
    padding: 3px 10px;
    text-align: center;
}
.xiala a:hover{
    background-color:#DDD;
}  
div.dropdown img,ul.xiala{
    transform: translate(1300px,-40px);
}
.navtwo ul{
    text-align: center;
}
.content{
    background-color: red;
    width:initial;
    height: auto;
}
.mainsth{
    background-color: white;
    width: 700px;
    height: auto;
    border: 1px solid #f1f1f1;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-500px,5px);
}
.asidesth{
    background-color: white;
    width: 280px;
    height: 1500px;
    border: 1px solid #f1f1f1;
    transform: translate(260px,5px);
    display: inline-block;
    position: absolute;
    left: 50%;
}
.wenzhang{
    width:700px ;
    height: 907px;
    border: 2px solid #f1f1f1;
    transform: translate(0,70px);
}
.wenzhang1 ,.wenzhang2 ,.wenzhang3{
    width: 700px;
    height: 300px;
    border: 1px solid #f1f1f1;
    text-align: left;
}
.guli{
    background-color:#f1f1f1 ;
    border: 10px solid white;
}
div.live button{
    width: 90px;
}
ul.care  {
    list-style-type: none;
    background-color: #f1f1f1;
    margin: 0;
    display: block;
    width: 280px;
    border: 1px solid #f1f1f1;
}
ul.care a{
    display: block;
}
ul.care a:hover{
    background-color: #f1f1f1;
}
a.copyright:hover{
    color: blue;
}
div.copyright a{
    text-decoration: none;
    color: #939090;
}
.wenzhang a{
    text-decoration: none;
    color: black;
}   