body{
    background-image: url("https://static.zhihu.com/heifetz/assets/sign_bg.db29b0fb.png");
}
.theall{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px,-100px);
}
.bighead{
    margin-bottom: 50px;
    color: blue;
    font-size: 50px;
    text-align: center;
}
input{
    display: block;
    border-radius: 2px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px,solid #f1f1f1f;
    height: 50px;
    width: 300px;
}
button{
    display: block;
    background-color:#3f92fb ;
    margin-top: 30px;
    width: 300px;
    height: 30px;
}
button a{
    text-decoration: none;
    color: white;
}